<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="static/form1.css" />
  </head>
  <body>
    
    <section class="container">
     
      <form action="#" class="form">
        <div class="con">
          <div class="left-div">
        <div class="input-box">
          <label>Nitrogen Content:</label>
          <input type="text" placeholder="Enter Nitrogen Content" required />
        </div>

        <div class="input-box">
          <label>Phosphorous Content:</label>
          <input type="text" placeholder="Enter Phosphorous Content" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Potassium Content</label>
            <input type="text" placeholder="Enter Potassium Content" required />
          </div>
         
        </div>
        
        <div class="input-box ">
          <label>Temperature</label>
          <input type="text" placeholder="Enter ideal Temperature" required /><br><br>
          <label>Humidity</label>
          <input type="text" placeholder="Enter ideal Humidity" required />
          
          
          <div class="column">
            <input type="text" placeholder="Ph value" required />
            <input type="text" placeholder="Rainfall" required />
          </div>
          </div>
          </div>
          <div class="right-div">
            <div class="input-box">
              <label>State Name:</label>
              <input type="text" placeholder="Enter State Name" required />
            </div>
    
            <div class="input-box">
              <label>District Name:</label>
              <input type="text" placeholder="Enter District Name" required />
            </div>
    
            <div class="input-box">
              <label>Season:</label>
              <input type="text" placeholder="Enter Season" required />
            </div>
    
            <div class="input-box">
              <label>Crop:</label>
              <input type="text" placeholder="Enter Crop" required />
            </div>
          </div>
        </div>
        <div class="but">
        <button>Submit</button>
        <button class="home-button">Return to homepage</button>
      </div>
        </div>
      </form>
    </section>
   
      
    
  
  </body>
</html>